.drop-container {
  display: inline-box;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.4);
}

.dropdown-item {
  padding: 0.5rem;
}
